.cube{
    background-color: red;
    width: 300px;
    height: 300px;
    cursor: pointer;
    .scale{
        background-color: aqua;
        height: 20px;
        position: relative;
        top: 280px;
        padding-left: 5px;
    }
}